 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>CoffeeMate is an NLP classification project that aligns free-text coffee preferences
                    with six categories of roast levels. The inference model was built and tested using Python 3,
                    Tensorflow, Keras, and Google Colab.</p>
                    <br>
                    <p>Users provide a description of their favorite cup of coffee - this may include preferred flavors, strength, or origin.
                    The neural network encodes this text into a set of high dimensional vectors that are
                    passes thru the model. The output layer is 1D vector of categorical probabilities
                    for 6 classes of coffee, light to dark!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam" class="btn btn-lg btn-outline">
                        <i class="fa fa-robot"></i> ADAM Optimizer
                    </a>
                    <a></a>
                    <a href="https://www.tensorflow.org/api_docs/python/tf/keras/losses/SparseCategoricalCrossentropy" class="btn btn-lg btn-outline">
                        <i class="fa fa-robot"></i> Sparse Categorical Crossentropy
                    </a>
                    <a href="https://tfhub.dev/google/universal-sentence-encoder/1" class="btn btn-lg btn-outline">
                        <i class="fa fa-robot"></i> Universal Sentence Encoder
                    </a>
                </div>
            </div>
        </div>
    </section>
