 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Code</h2>
                  <hr class="star-primary">
                  <p>

                </p>
                <br>
                <div class="container mt-5">
                    <div class="row">
                      <div class="col-md-4">
                          <div class="pcard1 pricing-card p-3 text-center py-5 mt-2">
                              <h6 class="mt-3">Data Collection and Scraping</h6>
                              <br>
                              <div class="images">
                                <a href="https://github.com/kcarrig/coffee-mate/blob/main/notebooks/Coffee%20Review%20Scraping%20with%20BeautifulSoup.ipynb">
                                <img src="https://kcarrig.github.io/img/github.png" width="30">
                                 </a>
                              </div>
                              <br>
                              <div class="images">Scraping and munging review data from CoffeeReview using BeautifulSoup.</div>
                              <br>
                              <a href="https://colab.research.google.com/drive/1Drc7Wetzf91ypy3QoMb536YV1IDXJIZK?usp=sharing">View in Google Colab</a>
                              <br>
                              <br>
                          </div>
                      </div>
                        <div class="col-md-4">
                          <div class="pcard2 pricing-card p-3 text-center py-5 mt-2">
                              <h6 class="mt-3">Classification with BERT</h6>
                              <br>
                              <div class="images">
                                <a href="https://github.com/kcarrig/coffee-mate/blob/main/notebooks/Classification%20with%20BERT.ipynb">
                                <img src="https://kcarrig.github.io/img/github.png" width="30">
                                 </a>
                              </div>
                              <br>
                              <div class="images">Transfer Learning with BERT to create a model with ~90% validation accuracy.</div>
                              <br>
                              <a href="https://colab.research.google.com/drive/1-7ZWtORv1ZxLW9rOS5K4uZEma7aCGVKa?usp=sharing">View in Google Colab</a>
                              <br>
                              <br>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="pcard3 pricing-card p-3 text-center py-5 mt-2">
                              <h6 class="mt-3">Classification with Google's NNLM</h6>
                              <br>
                              <div class="images">
                                <a href="https://github.com/kcarrig/coffee-mate/blob/main/notebooks/Classification%20wth%20NNLM.ipynb">
                                <img src="https://kcarrig.github.io/img/github.png" width="30">
                                 </a>
                              </div>
                              <br>
                              <div class="images">Transfer Learning with Google's NNLM to test 128-dimensional embedding vectors.</div>
                              <br>
                              <a href="https://colab.research.google.com/drive/1wAEuXVQxNqMikAbY69_RisjRB-876YV-/view?usp=sharing">View in Google Colab</a>
                              <br>
                              <br>
                          </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="pcard4 pricing-card p-3 text-center py-5 mt-2">
                            <h6 class="mt-3">Classification for the Browser</h6>
                            <br>
                            <div class="images">
                              <a href="https://github.com/kcarrig/coffee-mate/blob/main/notebooks/Classification%20for%20the%20Browser.ipynb">
                              <img src="https://kcarrig.github.io/img/github.png" width="30">
                               </a>
                            </div>
                            <br>
                            <div class="images">Transfer Learning with Universal Sentence Encoder to create a browser-fit model.</div>
                            <br>
                            <a href="https://colab.research.google.com/drive/1xTnhAmy9KhNCQiy1ySZGKl56YEqCI-8M/view?usp=sharing">View in Google Colab</a>
                            <br>
                            <br>
                        </div>
                      </div>
                        <div class="col-md-4">
                          <div class="pcard5 pricing-card p-3 text-center py-5 mt-2">
                              <h6 class="mt-3">Deployment with TensorflowJS</h6>
                              <br>
                              <div class="images">
                                <a href="https://github.com/kcarrig/coffee-mate/blob/main/notebooks/Deployment%20to%20TensorflowJS.ipynb">
                                <img src="https://kcarrig.github.io/img/github.png" width="30">
                                 </a>
                              </div>
                              <br>
                              <div class="images">Converting Keras model for use in Tensorflow.js using tfjs-converter.</div>
                              <br>
                              <a href="https://colab.research.google.com/drive/1znbKFQs98XolesqOZzseFjOLVPkGoXiq/view?usp=sharing">View in Google Colab</a>
                              <br>
                              <br>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="pcard6 pricing-card p-3 text-center py-5 mt-2">
                              <h6 class="mt-3">Explore the Data</h6>
                              <br>
                              <div class="images">
                                <a href="https://github.com/kcarrig/coffee-mate/blob/main/notebooks/Coffee%20Review%20Data%20Exploration.ipynb">
                                <img src="https://kcarrig.github.io/img/github.png" width="30">
                                 </a>
                              </div>
                              <br>
                              <div class="images">Explore the dataset to create,test, and refine your own model!</div>
                              <br>
                              <a href="https://colab.research.google.com/drive/191H_pikIrJYUiautd5JjsfisZU00eDHW/view?usp=sharing">View in Google Colab</a>
                              <br>
                              <br>
                          </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
