<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
          <ul class="list-inline">

          <li>
              <a href="https://tensorboard.dev/experiment/DqHZzAXbSvSAAaFLo2QlVw/#scalars" class="btn-social btn-outline"><i class="fa fa-fw fa-code"></i></a>
          </li>

          <li>
              <a href="https://colab.research.google.com/drive/1xTnhAmy9KhNCQiy1ySZGKl56YEqCI-8M?usp=sharing" class="btn-social btn-outline"><i class="fa fa-fw fa-google"></i></a>
          </li>

          <li>
              <a href="https://github.com/kcarrig/coffee-mate" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
          </li>

        </ul>
        </div>
      </div>
    </div>
  </div>
</header>
