
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Model</h2>
                    <hr class="star-primary">
                    <p>
                    Describe your perfect cup of coffee. We'll classify your preferences
                    into one of six roast classes to help you select the best bag of beans from
                    your favorite coffee shop.
                  </p>
                  <br>
                  <input placeholder="Tell me about your favorite cup of coffee!" id="inpt_search" type="text" />
                  <br>
                  <br>
                  <a class="button1 bouncy" id="submit_button">Caffeinate Me!</a>
                  <br>
                  <br>
                  <div class="row cardrow">
                      <div class="card">
                          <div class="card_img"> <i class="fas fa-rocket"></i> </div>
                          <div class="card_title">HTML</div>
                          <div class="card_body">
                              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                          </div>
                      </div>

            </div>
    </section>
