
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Model</h2>
                    <hr class="star-primary">
                    <p>
                    Describe your perfect cup of coffee. We'll classify your preferences
                    into one of six roast classes to help you select the best bag of beans from
                    your favorite coffee shop.
                  </p>
                  <br>
                  <input placeholder="Tell me about your favorite cup of coffee!" id="inpt_search" type="text" />
                  <br>
                  <br>
                  <a class="button1 bouncy" id="submit_button">Caffeinate Me!</a>
                  <br>
                  <br>
                  <div class="container mt-5">
                      <div class="row">
                        <div class="col-md-4">
                            <div class="pcard1 pricing-card p-3 text-center py-5 mt-2">
                                <h6 class="mt-3">Very Dark</h6>
                                <br>
                                <div class="images">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="30">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="30">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="30">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="30">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="30">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="30">
                                </div>
                                <br>
                                <div class="images">Bean Surface: Shiny</div>
                                <div class="images">Agtron Numbers: 25-30</div>
                                <div class="images">Dark French, Spanish Roasts</div>
                                <div class="images">Burned or charred tones. Thin body. </div>
                                <br>
                            </div>
                        </div>
                          <div class="col-md-4">
                              <div class="pcard2 pricing-card p-3 text-center py-5 mt-2">
                                <div class="images">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                </div>
                                  <h6 class="mt-3">Dark</h6><span class="d-block font-weight-bold mt-3">$5</span><span class="d-block">PER MONTH</span>
                                  <div class="mt-3"><span class="d-block"><i class="fa fa-check"></i>&nbsp;Access to all content</span><span class="text-left"><i class="fa fa-check"></i>&nbsp;Access to stack Work</span></div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="pcard3 pricing-card p-3 text-center py-5 mt-2">
                                <div class="images">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                </div>
                                  <h6 class="mt-3">Medium Dark</h6><span class="d-block font-weight-bold mt-3">$9</span><span class="d-block">PER MONTH</span>
                                  <div class="mt-3"><span class="d-block"><i class="fa fa-check"></i>&nbsp;Access to all content</span><span class="text-left"><i class="fa fa-check"></i>&nbsp;Access to stack Work</span></div>
                              </div>
                          </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-4">
                            <div class="pcard3 pricing-card p-3 text-center py-5 mt-2">
                                <div class="images">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                </div>
                                <h6 class="mt-3">Medium</h6><span class="d-block font-weight-bold mt-3">$9</span><span class="d-block">PER MONTH</span>
                                <div class="mt-3"><span class="d-block"><i class="fa fa-check"></i>&nbsp;Access to all content</span><span class="text-left"><i class="fa fa-check"></i>&nbsp;Access to stack Work</span></div>
                            </div>
                        </div>
                          <div class="col-md-4">
                              <div class="pcard2 pricing-card p-3 text-center py-5 mt-2">
                                <div class="images">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                </div>
                                  <h6 class="mt-3">Medium Light</h6><span class="d-block font-weight-bold mt-3">$5</span><span class="d-block">PER MONTH</span>
                                  <div class="mt-3"><span class="d-block"><i class="fa fa-check"></i>&nbsp;Access to all content</span><span class="text-left"><i class="fa fa-check"></i>&nbsp;Access to stack Work</span></div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="pcard3 pricing-card p-3 text-center py-5 mt-2">
                                <div class="images">
                                  <img src="https://i.imgur.com/YSHRu45.png" width="40">
                                </div>
                                  <h6 class="mt-3">Light</h6><span class="d-block font-weight-bold mt-3">$9</span><span class="d-block">PER MONTH</span>
                                  <div class="mt-3"><span class="d-block"><i class="fa fa-check"></i>&nbsp;Access to all content</span><span class="text-left"><i class="fa fa-check"></i>&nbsp;Access to stack Work</span></div>
                              </div>
                          </div>
                      </div>

                  </div>
    </section>
